{% extends 'search_work_site/base.html' %} {% block title %} Home {% endblock %}
{% block content %} 


{% if object_vacancies %}
  <h3 class="mb-5 mt-5" align="center">
    Результаты по вашему запросу
  </h3>
  {% for object in object_vacancies%}
  <div class="card mt-5 mb-5">
    <div class="card-header">{{object.title}}</div>
    <div class="card-body">
      <p class="card-text">{{object.description | truncatewords:15}}</p>
      <h3>{{object.company}}</h3>
      <p>
        {{object.city.name}} | {{object.language.name}} |
        <small>{{object.timestamp | date:'SHORT_DATE_FORMAT'}}</small>
      </p>
      <a href="{{ object.url }}" class="btn btn-primary">Перейти</a>
    </div>
  </div>
  {% endfor %} 

  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            {% if object_vacancies.has_previous %}
            <a
              class="page-link"
              href="?city={{city}}&language={{language}}&page={{ object_vacancies.previous_page_number }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %} 
          
          {% for page in object_vacancies.paginator.page_range %}
          <li class="page-item 
              {% if page == object_vacancies.number%} 
              active
              {% endif %}">
            <a
              class="page-link"
              href="?city={{city}}&language={{language}}&page={{ page }}"
              >{{ page }}</a
            >
          </li>
          {% endfor %} 
          
          {% if object_vacancies.has_next %}
          <li class="page-item">
            <a class="page-link" href="?city={{city}}&language={{language}}&page={{ object_vacancies.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %} 
        </ul>
      </nav>

{% else %}
    <h3 class="mb-5 mt-5" align="center">
      К сожалению по Вашему запросу ничего не было найдено
    </h3>
{% endif %}

<div class="row">
  <div class="col-md-6 mx-auto">
    <form method="GET" action="{% url 'list' %}">
      <div class="form-group">{{ form.as_p }}</div>

      <button type="submit" class="btn btn-primary">Найти вакансии</button>
    </form>
  </div>
</div>

{% endblock %}
